NEXT_PUBLIC_CA=
NEXT_PUBLIC_PUMP_URL=
NEXT_PUBLIC_JUPITER_URL=
NEXT_PUBLIC_DEXSCREENER_URL=
NEXT_PUBLIC_X_URL=https://x.com/rigbycat_solana
NEXT_PUBLIC_TG_URL=
NEXT_PUBLIC_CARE_WALLET=
NEXT_PUBLIC_RAISED_USD=0
NEXT_PUBLIC_CAMPAIGN_STATUS=raising
