NEXT_PUBLIC_CA=4aKxVRfAPREPBK3ziUgWUAX9kdPSkLv9PgyXGLXYpump
NEXT_PUBLIC_PUMP_URL=https://pump.fun/coin/4aKxVRfAPREPBK3ziUgWUAX9kdPSkLv9PgyXGLXYpump
NEXT_PUBLIC_JUPITER_URL=https://jup.ag/swap/SOL-4aKxVRfAPREPBK3ziUgWUAX9kdPSkLv9PgyXGLXYpump
NEXT_PUBLIC_DEXSCREENER_URL=https://dexscreener.com/solana/4aKxVRfAPREPBK3ziUgWUAX9kdPSkLv9PgyXGLXYpump
NEXT_PUBLIC_X_URL=
NEXT_PUBLIC_TG_URL=
NEXT_PUBLIC_CARE_WALLET=
NEXT_PUBLIC_RAISED_USD=0
NEXT_PUBLIC_CAMPAIGN_STATUS=raising
